<footer>
    <section class="footer-section">
        <img src="/images/credit-card-solid.svg"width="40" height="40">
        <p class="foot">
            <strong>Pagá con tarjeta o en efectivo</strong><br>
            Con Mercado Liebre Cash, tenés cuotas sin<br> interés con 
            tarjeta o efectivo en puntos de<br> pago. ¡Y siempre es seguro!
        </p>
    </section>
    <section class="footer-section">
        <img src="/images/gift-solid.svg"width="40" height="40">
        <p class="foot">
            <strong>Envío gratis desde $ 2.500</strong><br>
            Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de
            productos.<br> Es un beneficio de Mercado Puntos.
        </p>
    </section>
    <section class="footer-section">
        <img src="/images/user-shield-solid.svg"width="40" height="40">
        <p class="foot">
            <strong>Seguridad, de principio a fin</strong><br>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre<br> no hay nada que no puedas hacer,<br>
            porque estás siempre protegid@.
        </p>
    </section>
    <section class="footer-section">
        <p class="copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </section>
</footer>