<header class="main-header">
    <div class="main-header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" class="logo">
        <form action="" method="POST" class="search-nav">
            <input tuype="text" placeholder="Buscar producto, marca, categoria" class="barra" />
            <button type="submit" class="boton-buscar"><i class="fas fa-search"></i>Buscar</button>
        </form>
        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>
    </div>
    <a href="" class="hamburguer-button"><i class="fa fa-bars burger"></i></a>
    <nav class="main-navbar">
        <ul class="lista-left">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="lista-right">
            <li><a href="/user/register">Crea tu cuenta<i class="fas fa-address-card"></i></a></li>
            <li><a href="/user/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="">Mis compras<i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>
</header>