<%- include("./partials/head-index") %>
<body>
    <%- include("./partials/header") %>
    
    <main>
        <h1 class="destacado">Basado en tu última visita</h1>
        <section class="visita">
            <article class="articulos">
                <img src="/images/img-cafetera-moulinex.jpg" class="img-producto">
                <div class="cuerpo">
                    <i class="fas fa-truck"></i>                    
                    <p class="arriba">
                        <span class="precio">$6.770</span>
                        <span class="descuento">40% off</span>
                    </p>
                    <p class="nombre">
                        Cafetera Moulinex
                    </p>
                    <p class="desc">
                        La cafetera Moulinex hace los mejores cafés en el menos tiempo posible.
                    </p>
                </div>
            </article>

            <article class="articulos">
                <img src="/images/img-macbook-pro-2019.jpg" class="img-producto">
                <div class="cuerpo">
                    <i class="fas fa-truck"></i>
                    <p class="arriba">
                        <span class="precio">$230.000</span>
                        <span class="descuento">20% off</span>
                    </p>
                    <p class="nombre">
                        MacBook Pro 2019
                    </p>
                    <p class="desc">
                        La mejor laptop del mercado desde 2015.
                    </p>
                </div>
            </article>

            <article class="articulos">
                <img src="/images/img-samsung-galaxy-s10.jpg" class="img-producto">
                <div class="cuerpo">
                    <i class="fas fa-truck"></i>
                    <p class="arriba">
                        <span class="precio">$70.500</span>
                        <span class="descuento">10% off</span>
                    </p>
                    <p class="nombre">
                        Samsung Galaxy S10
                    </p>
                    <p class="desc">
                        El mejor teléfono del mercado, de la familia Galaxy.
                    </p>
                </div>
            </article>

            <article class="articulos">
                <img src="/images/img-tv-samsung-smart.jpg" class="img-producto">
                <div class="cuerpo">
                    <i class="fas fa-truck"></i>
                    <p class="arriba">
                        <span class="precio">$23.200</span>
                        <span class="descuento">5% off</span>
                    </p>
                    <p class="nombre">
                        SmartTv Samsung 43"
                    </p>
                    <p class="desc">
                        El televisor con mejor pantalla.
                    </p>
                </div>
            </article>
        </section>
        <h2 class="destacado">Seccion de ofertas</h2>
        <section class="ofertas">
            <article class="articulos">
                <img src="/images/img-cafetera-moulinex.jpg" class="img-producto">
                <div class="cuerpo">
                    <i class="fas fa-truck"></i>
                    <p class="arriba">
                        <span class="precio">$6.770</span>
                        <span class="descuento">40% off</span>
                    </p>
                    <p class="nombre">
                        Cafetera Moulinex
                    </p>
                    <p class="desc">
                        La cafetera Moulinex hace los mejores cafés en el menos tiempo posible.
                    </p>
                </div>
            </article>

            <article class="articulos">
                <img src="/images/img-macbook-pro-2019.jpg" class="img-producto">
                <div class="cuerpo">
                    <i class="fas fa-truck"></i>
                    <p class="arriba">
                        <span class="precio">$230.000</span>
                        <span class="descuento">20% off</span>
                    </p>
                    <p class="nombre">
                        MacBook Pro 2019
                    </p>
                    <p class="desc">
                        El mejor teléfono de la familia galaxy.
                    </p>
                </div>
            </article>

            <article class="articulos">
                <img src="/images/img-samsung-galaxy-s10.jpg" class="img-producto">
                <div class="cuerpo">
                    <i class="fas fa-truck"></i>
                    <p class="arriba">
                        <span class="precio">$70.500</span>
                        <span class="descuento">10% off</span>
                    </p>
                    <p class="nombre">
                        Samsung Galaxy S10
                    </p>
                    <p class="desc">
                        El mejor teléfono de la familia galaxy.
                    </p>
                </div>
            </article>

            <article class="articulos">
                <img src="/images/img-tv-samsung-smart.jpg" class="img-producto">
                <div class="cuerpo">
                    <i class="fas fa-truck"></i>
                    <p class="arriba">
                        <span class="precio">$23.200</span>
                        <span class="descuento">5% off</span>
                    </p>
                    <p class="nombre">
                        SmartTv Samsung 43"
                    </p>
                    <p class="desc">
                        El televisor con la mejor pantalla del año.
                    </p>
                </div>
            </article>
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>